.searchbar-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  gap: 8px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.searchbar-container:focus-within {
  border-color: var(--Neutral-Gray3, #b4b4b4);
  box-shadow: 0 0 0 1.5px var(--Neutral-Gray3, #b4b4b4);
}

.searchbar-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  color: #153a7a;
}

.searchbar-input::placeholder {
  color: #153a7a;
  opacity: 0.8;
}
